.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 16.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;

  backdrop-filter: blur(8.5px);
}
.background-radial-gradient {
  background-color: #212529;
  background-image: radial-gradient(
      650px circle at 0% 0%,
      #e69800 10%,
      #e69800 35%,
      #212529 75%,
      #212529 80%,
      transparent 100%
    ),
    radial-gradient(
      1250px circle at 100% 100%,
      #6eb222 15%,
      #212529 35%,
      #212529 75%,
      #212529 80%,
      transparent 100%
    );
}
.footer,
.carousel-caption {
  background: linear-gradient(40deg, #b1450f, #e69800);
  background-size: 400% 400%;

  animation: AnimationName 6s ease infinite;
}
@keyframes floatAnimation {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-2rem);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes floatAnimation2 {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-3rem);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes AnimationName {
  0% {
    background-position: 99% 0%;
  }

  50% {
    background-position: 2% 100%;
  }

  100% {
    background-position: 99% 0%;
  }
}
